In [2]:
-- Inserting 50 sample employees with valid password lengths
INSERT INTO Employee (Employee_Id, Employee_Name, Email, Manager_Id, Login_Password)
VALUES
('EMP000001', 'Alice Johnson', 'alice.johnson@email.com', NULL, 'Pass@1234'),        -- 9 chars
('EMP000002', 'Bob Smith', 'bob.smith@email.com', 'EMP000001', 'Secure#456'),        -- 10 chars
('EMP000003', 'Charlie Brown', 'charlie.brown@email.com', 'EMP000001', 'Test@12345'), -- 10 chars
('EMP000004', 'Diana Prince', 'diana.prince@email.com', 'EMP000002', 'Wonder#7890'), -- 11 chars
('EMP000005', 'Eve Adams', 'eve.adams@email.com', 'EMP000002', 'Strong#5678'),       -- 11 chars
('EMP000006', 'Frank Castle', 'frank.castle@email.com', 'EMP000001', 'Punisher@32'), -- 12 chars
('EMP000007', 'Grace Kelly', 'grace.kelly@email.com', 'EMP000003', 'Grace@9999'),    -- 10 chars
('EMP000008', 'Harry Potter', 'harry.potter@email.com', 'EMP000003', 'Magic@12345'), -- 11 chars
('EMP000009', 'Ivy Green', 'ivy.green@email.com', 'EMP000004', 'Ivy@Strong123'),     -- 12 chars
('EMP000010', 'Jake Peralta', 'jake.peralta@email.com', 'EMP000004', 'Cool@Pass999'),-- 12 chars
('EMP000011', 'Kim Possible', 'kim.possible@email.com', 'EMP000005', 'Possible@123'),-- 12 chars
('EMP000012', 'Leo Messi', 'leo.messi@email.com', 'EMP000005', 'Soccer@45678'),      -- 11 chars
('EMP000013', 'Mona Lisa', 'mona.lisa@email.com', 'EMP000006', 'Smile@789456'),      -- 12 chars
('EMP000014', 'Nancy Drew', 'nancy.drew@email.com', 'EMP000006', 'Detective#321'),   -- 12 chars
('EMP000015', 'Oliver Queen', 'oliver.queen@email.com', 'EMP000007', 'Arrow@123456'),-- 12 chars
('EMP000016', 'Peter Parker', 'peter.parker@email.com', 'EMP000007', 'Spidey@9999'), -- 11 chars
('EMP000017', 'Quincy Adams', 'quincy.adams@email.com', 'EMP000008', 'QPass#67890'), -- 11 chars
('EMP000018', 'Rachel Green', 'rachel.green@email.com', 'EMP000008', 'Fashion#1234'),-- 12 chars
('EMP000019', 'Steve Rogers', 'steve.rogers@email.com', 'EMP000009', 'Cap@4567890'), -- 11 chars
('EMP000020', 'Tony Stark', 'tony.stark@email.com', 'EMP000009', 'Ironman#32145'),   -- 12 chars
('EMP000021', 'Uma Thurman', 'uma.thurman@email.com', 'EMP000010', 'Actress@1111'),  -- 12 chars
('EMP000022', 'Victor Stone', 'victor.stone@email.com', 'EMP000010', 'Cyborg#45678'),-- 12 chars
('EMP000023', 'Wade Wilson', 'wade.wilson@email.com', 'EMP000011', 'Deadpool@7890'), -- 12 chars
('EMP000024', 'Xander Cage', 'xander.cage@email.com', 'EMP000011', 'XXX#12345678'),  -- 12 chars
('EMP000025', 'Yara Greyjoy', 'yara.greyjoy@email.com', 'EMP000012', 'Ironborn@3214'),-- 12 chars
('EMP000026', 'Zara Khan', 'zara.khan@email.com', 'EMP000012', 'Zara@999999'),       -- 10 chars
('EMP000027', 'Liam Neeson', 'liam.neeson@email.com', 'EMP000013', 'Taken@456789'),  -- 11 chars
('EMP000028', 'Natalie Portman', 'natalie.portman@email.com', 'EMP000013', 'Thor@789456'), -- 12 chars
('EMP000029', 'Oscar Isaac', 'oscar.isaac@email.com', 'EMP000014', 'Moon#12345678'), -- 12 chars
('EMP000030', 'Pam Beesly', 'pam.beesly@email.com', 'EMP000014', 'Office@1234567'),  -- 12 chars
('EMP000031', 'Ron Swanson', 'ron.swanson@email.com', 'EMP000015', 'Meat@789456'),   -- 12 chars
('EMP000032', 'Stan Lee', 'stan.lee@email.com', 'EMP000015', 'Marvel#321456'),       -- 12 chars
('EMP000033', 'Thor Odinson', 'thor.odinson@email.com', 'EMP000016', 'Hammer#12345'),-- 12 chars
('EMP000034', 'Ursula Andress', 'ursula.andress@email.com', 'EMP000016', 'Bond@456789'), -- 12 chars
('EMP000035', 'Vanessa Hudgens', 'vanessa.hudgens@email.com', 'EMP000017', 'Music@123456'),-- 12 chars
('EMP000036', 'Will Smith', 'will.smith@email.com', 'EMP000017', 'Actor#12345678'),   -- 12 chars
('EMP000037', 'Xenia Onatopp', 'xenia.onatopp@email.com', 'EMP000018', 'Spy#456789'), -- 12 chars
('EMP000038', 'Yvonne Strahovski', 'yvonne.strahovski@email.com', 'EMP000018', 'Chuck@123456'), -- 12 chars
('EMP000039', 'Zoe Saldana', 'zoe.saldana@email.com', 'EMP000019', 'Gamora#789456'),  -- 12 chars
('EMP000040', 'Alfred Pennyworth', 'alfred.pennyworth@email.com', 'EMP000019', 'Butler@12345'),-- 12 chars
('EMP000041', 'Bruce Wayne', 'bruce.wayne@email.com', 'EMP000020', 'Batman#456789'),  -- 12 chars
('EMP000042', 'Clark Kent', 'clark.kent@email.com', 'EMP000020', 'Superman@99999');   -- 12 chars

In [3]:
INSERT INTO Department (Department_Id, Department_Name, Email, Department_Admin_Id)
VALUES
('DEP000001', 'HR', 'hr@email.com', 'EMP000001'),
('DEP000002', 'IT', 'it@email.com', 'EMP000002'),
('DEP000003', 'Finance', 'finance@email.com', 'EMP000003'),
('DEP000004', 'Marketing', 'marketing@email.com', 'EMP000004'),
('DEP000005', 'Sales', 'sales@email.com', 'EMP000005'),
('DEP000006', 'Support', 'support@email.com', 'EMP000006'),
('DEP000007', 'Engineering', 'engineering@email.com', 'EMP000007'),
('DEP000008', 'Logistics', 'logistics@email.com', 'EMP000008'),
('DEP000009', 'Legal', 'legal@email.com', 'EMP000009'),
('DEP000010', 'R&D', 'rnd@email.com', 'EMP000010');

In [5]:
INSERT INTO Ticket (Ticket_Id, Details, Ticket_Status, Ticket_Priority, Requestor_Id, Department_Id)
VALUES
('TKT000001', 'Server Issue', 'Backlog', 'High', 'EMP000001', 'DEP000001'),
('TKT000002', 'Bug Fix', 'InProgress', 'Medium', 'EMP000002', 'DEP000002'),
('TKT000003', 'Performance Issue', 'Review', 'Low', 'EMP000003', 'DEP000003')